<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
    <h2 th:text="${schedule.id}, ${schedule.name}"" >Edit schedule test</h2>
    <tr>
        <div align = "left" >           
             <h3><a  th:href="@{'schedule/edit/' + ${schedule.id} + '/new/TRANSPORT'}">Make Transport event</a></h3>     
        </div>
        <div align = "left" >           
            <h3><a  th:href="@{'schedule/edit/' + ${schedule.id} + '/new/PLACE'}">Make Place event</a></h3>     
       </div>
    
    </tr>
    <tr>
    
    <div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>
            <th>Event Id</th>
            <th>Type</th>
            <th>Begin</th>
            <th>End</th>
            <th>Info</th>
            <th>Edit</th>
            <th>Delete</th>
       </tr>
  </thead>
  <tbody>
      <tr  th:each="event : ${listOfEvents }">
        <td th:text="${event.id}">Event Id</td>
        <td th:text="${event.type}">Type</td>
        <td th:text="${event.begin}">Begin</td>
        <td th:text="${event.end}">End</td>
        <td th:text="${event.info}">Info</td>              
        <td>
            <a th:href="@{'schedule/edit/' + ${schedule.id} + '/delete/' + ${event.id}}">Delete</a>
        </td>                                     
        </tr> 
  </tbody>
</table>
                    
                 </div>
            </div> 
    </tr>
    </tbody>
    </table>
    <div>
</body>
</html>