<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
    <h2 >Client test</h2>
    <tr>
        <div align = "left" >           
             <h3><a  th:href="@{'/client'}">Add new</a></h3>     
        </div>
    </tr>
    <h2 >Transport test</h2>
    <tr>
        <div align = "left" >           
             <h3><a  th:href="@{'/transport'}">Add new</a></h3>     
        </div>
    </tr>
    <h2 >Place test</h2>
    <tr>
        <div align = "left" >           
             <h3><a  th:href="@{'/place'}">Add new</a></h3>     
        </div>
    </tr>
</div>
</body>
</html>